@media(max-width:762px){
    .Home-container{
        flex-direction: column;
        height: 120vh;
    }
    
    .Home-container button{
        transform: scale(0.5);
    }
    .Section-about .section-title{
        transform: scale(0.8);
    width: 100% !important;
    }
    .grid-container{
        transform: scale(0.8);
    }
    .right-home{
    }
}
@media(max-width:992px){
    .container-footer .baslik-footer{
        top: -90px !important;
        position: absolute;
    }
    .messageformu button{
        transform: scale(0.7);
    }
}
@media(max-width:450px){
    .container-footer .baslik-footer{
        top: -130px !important;
        position: absolute;
    }
    .logo h4{
        font-size: 8px;
    }
}