@media(max-width:762px){
    .Home-container{
        flex-direction: column;
        margin-top: 5% !important;
    }
    .left-home{
        font-size: 15px !important;
    margin-top: 10% !important;
    }
    .Home-container button{
        transform: scale(0.5);
    }
    .Section-about .section-title{
        transform: scale(0.8);
    width: 100% !important;
    }
    .grid-container{
        transform: scale(0.8);
    }
    .left-home .btn{
        width: 100%;
        transform: scale(0.8) !important;
    }
    .login-box{
        width: 100% !important;
    }
}
@media(max-width:992px){
    .container-footer .baslik-footer{
        top: -90px !important;
        position: absolute;
    }
    .messageformu button{
        transform: scale(0.7);
    }
}
@media(max-width:450px){
    .container-footer .baslik-footer{
        top: -130px !important;
        position: absolute;
    }
    .logo h4{
        font-size: 8px;
    }
}
